<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="naam">Naam</label>
          <input
            type="text"
            class="form-control"
            id="naam"
            required
            ngModel
            name="naam"
          />
        </div>
        <div class="form-group">
          <label for="merk">Brand</label>
          <input
            type="text"
            class="form-control"
            id="merk"
            required
            ngModel
            name="merk"
          />
        </div>
        <div class="form-group">
          <label for="voorraad">Stock</label>
          <input
            type="number"
            class="form-control"
            id="voorraad"
            required
            pattern="^[1-9]+[0-9]*$"
            ngModel
            name="voorraad"
          />
        </div>
        <div class="form-group">
          <label for="price">Price, €</label>
          <input
            type="number"
            class="form-control"
            id="price"
            required
            pattern="^\d*.?\d{1,2}?$"
            ngModel
            name="price"
          />
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1">No posts available!</p>
      <ul class="list-group>" *ngIf="loadedPosts.length >=1 ">
        <li class="list-group-item border" *ngFor="let item of loadedPosts">
          <h3>{{item.naam}}</h3>
          <p>Brand: {{item.merk}}</p>
          <p>Stock: {{item.voorraad}} Price: {{item.price}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
